/* section{
    padding: 2rem 9%;
} */

.home{
    background: url(../../../assets/8493.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 17rem;
    padding-bottom: 10rem;
    min-height: 500px!important;
    max-height: 500px!important;
    overflow: hidden;
    padding: 0;
    position: relative;
    margin-top: 0;
}

.banner-content{
    background: rgba(0, 0, 0, 0.5);
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    padding-top: 12rem;
    padding-bottom: 10rem;
    margin: 0;
    text-align: center;
}

.home .banner-content h3{
    font-size: 2rem;
    color: #eee;
}
.home .banner-content span{
    color: #da0f32;
}
.home .banner-content .btn{
    font-size: 1.6rem;
}
.home .banner-content p{
    font-size: 1.5rem;
    color: #eee;
    margin: 20px 0;
}
.home .banner-content h3 span{
    font-size: 3.5rem;
    margin-bottom: 10px;
}
