.about-us {
    display: flex;
    padding: 4rem;
}
.about-us-description {
    padding-left: 4rem;
}
.about-us-description h1.heading {
    font-size: 3rem;
    color: #da0f32;
}
.about-us-description h2.heading {
    color: #da0f32;
    font-size: 2.5rem;
    text-align: center;
}
.about-us-description .about-us-content-body {
    font-size: 1.5rem;
}

.aboutus-image img {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    margin-right: 5rem;
    box-shadow: rgba(0, 0, 0, 0.4) 2px 6px 20px;
}

.hr-width {
    width: 100%;
}
.aboutus-content h1 {
    color: #da0f32;
}
