body {
    color: grey
    }
    #sidebar {
    padding: 20px 30px 20px 30px;    
    margin: 0;
    float: left;
    z-index: -1;
    border: 1px solid;
    box-shadow: 5px 5px 5px 5px #888888;
    }
    #products {
    width: 80%;
    padding: 10px;
    margin: 0;
    float: right
    }
    .ut_list{
        font-size: 12px;
        color: black;
    }
    .mb-2{
        font-size: 16px;
    }
    ul {
    list-style: none;
    padding: 5px;
    font-size:16px
    }
    li a {
    color: black;
    text-decoration: none
    }
    li a:hover {
    text-decoration: none;
    color: darksalmon
    }
    .fa-circle {
    font-size: 20px
    }
    #red {
    color: #e94545d7
    }
    #teal {
    color: rgb(69, 129, 129)
    }
    #blue {
    color: #0000ff
    }
    .card {
    width: 250px;
    display: inline-block;
    height: 300px
    }
    .card-img-top {
    width: 250px;
    height: 210px
    }
    .card-body p {
    margin: 2px
    }
    .card-body {
    padding: 0;
    padding-left: 2px
    }
    .filter {
    display: none;
    padding: 0;
    margin: 0
    }
