section {
    padding: 0 2rem;
    margin-top: 7rem;
}

hr {
    width: 15rem;
}

input {
    background-color: #eee;
}

section.buses-section {
    padding-left: 0;
}

section.profile-section {
    display: flex;
    justify-content: space-around;
    margin-left: 4rem;
    margin-right: 4rem;
}


.contact{
    background-image: url('../src/assets/offersImgs/contactbg3.webp');
    background-size: cover;
    height: 130vh;
    margin-top: -15rem;
}

/* .trippp{
    background-image: url(C:\Users\Mudit.Arya\Desktop\project\Frontend\Capstone_Project\Frontend\src\assets\offersImgs\tripbg3.webp);
    background-size:contain;
    height: 100vh;
    margin-top: 0;
    padding-top: 15rem;
} */