section {
    padding: 0 2rem;
    margin-top: 7rem;
}

hr {
    width: 15rem;
}

input {
    background-color: #eee;
}

section.buses-section {
    padding-left: 0;
}

.profile-section {
    display: flex;
    justify-content: space-around;
    margin-left: 4rem;
    margin-right: 4rem;
}

.about-us-section
{
    margin-left: 4rem;
    margin-bottom: 4rem;
    padding-left: 4rem ;
}

.about-us-heading
{
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

.about-us-content-body{
    margin-top: 2rem;
}



.about-us img
{
    border-radius: 50%;
    width: 200px;
   height: 150px;
}

.contact{
    background-image: url('../src/assets/offersImgs/contactbg3.webp');
    background-size: cover;
    height: 130vh;
    margin-top: -15rem;
    display: flex;
    margin-left: -6rem;
}

@media only screen and (max-width: 600px) {
    body {
      width: 620px;
      overflow-x: hidden;
    }
    .items-center,nav{
        padding: 0px!important;
    }
    .header{
        height: 75px!important;
    }
    .mx-2, .mx-2 a{
        /* margin-left: 0px; */
        margin-left: 10px!important;
        margin-right: 10px!important;
    }
    .offer-cards {
        width: 33%;
        padding: 10px;
    }
    .cities-card{
        width: 40%!important;
        margin: 0px!important;
        padding: 10px;
    }
    
    .col-md-4.text-center {
        width: 49%;
    }

  }