section {
    padding: 0 2rem;
    margin-top: 7rem;
}

hr {
    width: 15rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    background-color: #eee;
}

section.buses-section {
    padding-left: 0;
}

.profile-section {
    display: flex;
    justify-content: space-around;
    margin-left: 4rem;
    margin-right: 4rem;
}

.about-us-section {
    margin-left: 4rem;
    margin-right: 4rem;
}
.foffers-div h1 {
    margin-left: 10rem;
    font-size: 3rem;
    color: #da0f32;
}
.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url("./assets/offersImgs/contactbg3.webp");
    background-position: center;
    background-size: cover;
    height: 90vh;
    padding-bottom: 10rem;
}
