.footer {
	width: 100%;
	padding: 30px 15%;
	background-color: #1e2227;
	color: #efefef;
	display: flex;
	box-sizing: border-box;
}

.footer div {
	text-align: left;
}

.col-2 {
	flex-grow: 2;
	margin-left: 200px;
}
.col-1 {
	margin-left: -20px;
	margin-right: 90px;
}
.col-3 {
	margin-right: -100px;
}
.footer div h3 {
	/* color: #fff; */
	font-weight: 300;
	margin-bottom: 30px;
	letter-spacing: 1px;
	font-size: 3rem;
}
.footer div p {
	font-size: 1.5rem;
}

.col-1 a {
	display: block;
	text-decoration: none;
	color: #efefef;
	margin-bottom: 10px;
	font-size: 1.5rem;
}

.social {
	margin-top: 30px;
	cursor: pointer;
}
