.card-container{
    display: inline-block;
    width: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    /* align-items: center;
    justify-content: center; */
    margin-top: 25rem!important;
    margin-left: 11.5rem;
    /* margin-bottom: 5rem; */
    transition: 0.5s;
    animation: ease-in;
    border-radius: 5%;
    background-color: rgb(255, 255, 255);
}
.image-container{
    margin-left: 5rem!important;
}

.card-container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}

.image-container img{
    overflow: hidden;
    height: 200px;
}

/* .card-body p{
    justify-content: ri;
} */

.card-content{
    margin: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

