.cities-section {
    padding: 0;
    text-align: center;
    font-size: 2rem;
    padding: 0 3rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.cities-card{
    width: 18%;
    padding: 2rem;
    border-radius: 10px;
    padding-left: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgb(119 119 119 / 16%) 2px 6px 25px;
    margin: 15px;
}

.cities-card img{
    width: 71px;
    height: 52px;
    border-radius: 10px;
}
.cities-txt{
    display: flex;    
    font-size: 16px;
    font-weight: 400;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.cities-txt p {
    margin: 0!important;
}
.cities-txt p.city{
    font-weight: 600;
}