.header {
	position: sticky;
	top: 0;
	background: #1e2227;
	color: white;
	height: 66px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	z-index: 30;
}
.left img {
	width: 55px;
	height: 50px;
	margin-left: 50px;
}
.container {
	max-width: 80vw;
	padding: 0 13vw;
	padding-left: 94px;
}
.navbar-brand {
	margin-left: 1rem;
}
nav {
	font-size: 12px;
	padding-top: 10px;
	padding-left: 5px;
}
nav ul {
	padding: 0 25px;
}
nav ul li {
	list-style: none;
	padding: 0 11px;
	padding-left: 9px;
	cursor: pointer;
}
nav ul li:hover {
	color: #da0f32;
}
.flex {
	display: flex;
}
.items-center {
	align-items: center;
	padding-right: 25px;
}
.justify-center {
	justify-content: center;
}
.space-between {
	justify-content: space-between;
}
.uppercase {
	text-transform: uppercase;
}
.semibold {
	font-weight: bolder;
}
.mx-2 {
	margin-left: 30px;
	margin-right: 12px;
	cursor: pointer;
}

.mx-2:hover {
	color: #da0f32;
}

.mx-2 svg {
	height: 25px !important;
	width: 25px !important;
}
