.header {
    position: sticky;
    top: 0;
    background: #1e2227;
    color: white;
    height: 66px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    z-index: 30;
}
.left img {
    width: 55px;
    height: 50px;
    margin-left: 50px;
    margin-bottom: 7px;
}
.container {
    max-width: 80vw;
    padding: 0 13vw;
    padding-left: 94px;
}
.navbar-brand,
.navbar-brand a {
    margin-left: 1rem;
    text-decoration: none;
    color: white;
    font-size: 18px;
}
nav {
    font-size: 12px;
    padding-top: 10px;
    padding-left: 5px;
}
.flex ul {
    padding: 0 25px;
}
nav ul li,
nav ul li a {
    list-style: none;
    padding: 0 11px;
    padding-left: 9px;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    color: white;
}
nav ul li:hover,
nav ul li a:hover {
    color: #da0f32;
}
.flex {
    display: flex;
}
.items-center {
    align-items: center;
    padding-right: 25px;
}
.justify-center {
    justify-content: center;
}
.space-between {
    justify-content: space-between;
}

.semibold {
    font-weight: bolder;
}
.mx-2,
.mx-2 a {
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.mx-2:hover,
.mx-2 a:hover {
    color: #da0f32;
}

.mx-2 svg {
    height: 25px !important;
    width: 25px !important;
}
.dropdown-menu {
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: #1e2227;
    border-radius: 5px;
    padding: 10px 20px;
    width: 80px;
}
.dropdown-menu::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: #1e2227;
    transform: rotate(45deg);
}
.dropdown-menu.active {
    opacity: 1;
    visibility: visible;
    transition: 0.4s ease;
    transform: translateY(0);
}
.dropdown-menu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 0.4s ease;
}
.dropdown-menu ul {
    padding: 0 2px;
}

.login-navlink .username {
    display: flex;
    align-items: center;
    text-transform: capitalize;
}
.login-navlink .username span {
    margin-left: 0.8rem;
    font-size: 1.5rem;
}
